/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol, menu {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a, button {
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT */

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* UTILITIES */

.col-4 {
    width: calc(4 * 100% / 12);
}

.col-flex {
    display: flex;
    flex-wrap: wrap;
}

/* STYLE */

.page-header {
    background-color: #FF6900;
    color: white;
}

/* HEADER */

.page-header {
    padding: 10px 0;
}

.page-header .row {
    justify-content: space-between;
    align-items: center
}

.page-header .col-flex {
    justify-items: center;
    align-items: center;
}

.logo {
    max-height: 25px;
}

.page-header ul > li {
    padding: 0 4px;
}

/* MAIN */

/* FOOTER */